@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}
body{
  background-color: rgb(54, 54, 54);
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.center{
  position: absolute;
  display: table;
  bottom:10%;
  right: 22.5%;
  height: 80%;
  width: 100vh;
  background-color: rgb(119, 119, 119);

}
.ontime{
  color: white;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-caption;
}
.thecode {
  color: white;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}